<div ng-include src="'/views/navBar.html'"></div>
<div class = "container">
    <!-- HEADER   -->
        <div class = "jumbotron text-center" style="background:blue;">
            
        </style>>
            <h1>What Are your Plans for Tonight?</h1><br>
            <div ng-if="!main.loggedIn">
                <a ui-sref="signup" class="btn btn-info">Signup</a>
                <a ui-sref="login" class="btn btn-primary">Login</a>
            </div>
            <div ng-if="main.loggedIn">
            	<h1 class="text-center"><i class="fa fa-smile-o"></i></h1>
            </div>
        </div>
        
        <!-- Search Box -->
        <div id="search-box" class="row">
            <div class="col-lg-12">
                    <form method="post" ng-submit="main.search()" name="SearchForm">
                        <div class="form-group" ng-class="{ 'has-success' : searchForm.location.$valid && searchForm.location.$dirty, 'has-error' : searchForm.location.$invalid && searchForm.location.$dirty }">
                        <input type="text" class="form-control input-lg" name="location" ng-model="main.location" placeholder="Enter City Name..." required>
                        </div>
                        <div class="help-block text-danger"
                 ng-if="searchForm.location.$dirty"
                 ng-messages="searchForm.location.$error">
              <div ng-message="required">Location is required.</div>
                        </div>
                        <span class="input-group-btn">
                        <button class="btn btn-lg btn-block btn-primary" type="submit" ng-disabled="searchForm.$invalid">Go!</button></span>
                        </form>
                </div>
            </div>
     </div>
     <br>